html, body {
    margin:0;
    padding:0;
}

a {
    color: #1b6d85;
}

.row {
    margin-top: 12px
}

.center-block {
    margin: 20px auto;
    float: none
}

.form-actions button {
    margin-left: 15px
}

.action-btn {
    margin: 0 2px
}

table .action-btn {
    padding: 5px
}

.no-bullet {
    list-style: none;
}