/*
 * Copyright (c) 2018. All Rights Reserved For Tose-e Ertebatat Kalan Corporation.
 * Author Meysam Ghanbari
 */

// Contextual backgrounds

.bg-variant(@color) {
  background-color: @color;
  a&:hover,
  a&:focus {
    background-color: darken(@color, 10%);
  }
}
