/*
 * Copyright (c) 2018. All Rights Reserved For Tose-e Ertebatat Kalan Corporation.
 * Author Meysam Ghanbari
 */

// Progress bars

.progress-bar-variant(@color) {
  background-color: @color;

  // Deprecated parent class requirement as of v3.2.0
  .progress-striped & {
    #gradient > .striped();
  }
}
