/*
 * Copyright (c) 2018. All Rights Reserved For Tose-e Ertebatat Kalan Corporation.
 * Author Meysam Ghanbari
 */

// Resize anything

.resizable(@direction) {
  resize: @direction; // Options: horizontal, vertical, both
  overflow: auto; // Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
}
